<!-- Season 2024-2025 -->
<h2 class="mb-3 mt-5">Celkové výsledky</h2>
<p>
    Sportega se stala titulárním partnerem Brněnské zimní ligy pro letošní ročník.
    V celkovém pořadí budou vyhlášeni nejlepší závodníci v kategoriích:
    H (muži), D (ženy) a ZV (zvlášť žáci a veteráni). Kategorie HDD se nebude vyhlašovat.
    Nejlepší závodníci obdrží poukazy podle následující tabulky:
</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Pořadí</th>
            <th>H</th>
            <th>D</th>
            <th>Žáci</th>
            <th>Veteráni</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1.</td>
            <td>2500,- Kč</td>
            <td>2500,- Kč</td>
            <td>1500,- Kč</td>
            <td>1500,- Kč</td>
        </tr>
        <tr>
            <td>2.</td>
            <td>1500,- Kč</td>
            <td>1500,- Kč</td>
            <td>1000,- Kč</td>
            <td>1000,- Kč</td>
        </tr>
        <tr>
            <td>3.</td>
            <td>1000,- Kč</td>
            <td>1000,- Kč</td>
            <td>500,- Kč</td>
            <td>500,- Kč</td>
        </tr>
    </tbody>
</table>

<p>
    Celkové výsledky se budou počítat ze 4 nejlepších závodů ze 7 možných. Vyhlášení proběhne bezprostředně po
    poslední BZL. Pokud se nebudete moci zúčastnit, ceny předáme na jarních závodech JML.
    <br>
    Prosíme všechny závodníky o dodržování pravidel fair play.
</p>
