<h2 class="mb-3 mt-5">Sezóna 2024-2025</h2>
<p>
    Podzimní oficiální orienťácká sezóna pomalu končí, což znamená, že se blíží další ročník Brněnské zimní ligy
    (BZL). Stejně jako minulé roky, i letos pro Vás pořadatelé připravují spoustu závodů. To, které z nich se
    budou počítat do celkového hodnocení ligy stejně tak jako podrobné informace k nim, naleznete v záložce <a
        href="{{ url_for('calendar', season='24-25') }}">Kalendář závodů</a>.
    U většiny závodů budou informace postupně přibývat.
</p>
