<h2 class="mb-3 mt-5">Sezóna 2023-2024</h2>
<p>
    Letošní ročník 2023/24 je za námi. Sláva vítězům, čest poraženým! Doufáme,
    že se vám závody líbily a zase jste poznali nová místa nejen v Brně, ale třeba i Blansku nebo Bílovicích.
    Na závodech BZL letos startovalo 796 závodníků! (Společně s dalšími závody můžeme atakovat tisícovku...)
    Budeme rádi, když nám zůstanete věrni i v dalším roce zimních lig. Teď už zase hurá do lesa!
    Obrovské poděkování patří i jednotlivým pořadatelům BZL, že to pro nás dělají!<br>
    Díky, jste skvělí!
</p>
