<h2 class="mb-3 mt-5">Vyhlášení celkových výsledků</h2>
<p>
    Tuto neděli (9. 3.) nás čeká <a href="https://bzl.zabiny.club/24-25/event/troll_cup/">TROLL Cup</a>,
    poslední závod Sportega Brněnské zimní ligy v této sezóně. Po vyhlášení výsledků
    tohoto závodu vyhlásíme i celkové výsledky sezóny 24/25 a předáme ceny
    nejlepším závodníkům v jednotlivých kategoriích (viz tabulka níže). Připomínáme,
    že každému závodníkovi se do celkových výsledků počítají 3 nejlepší závody.
</p>
<p>
    Pokud si nebudete moci převzít cenu osobně na TROLL Cupu, budeme připraveni
    vám ji předat na jarních závodech JML.
</p>
<p>
    Výsledky TROLL Cupu a celkové výsledky sezóny 24/25 najdete v záložce
    <a href="{{ url_for('results', season='24-25') }}">Výsledky</a>.
</p>
