<h2 class="mb-3 mt-5">Průběžné výsledky po 3 závodech</h2>
<p>
    Zveřejnili jsme průběžné výsledky po 3 závodech.
    Výsledky naleznete v záložce <a href="{{ url_for('results', season='24-25') }}">Výsledky</a>.
    S touto sezónou jsme se rozhodli rozdělit žebříček ZV a počítat zvlášť
    žáky a veterány.
    K tomu je nutné znát rok narození závodníka. Pokud se nemůžete najít ve výsledcích
    kategorie Z nebo V a měli byste tam být, je to pravděpodobně proto, že nemáte
    registračku a my tak neměli možnost zjistit rok narození. V takovém případě
    se nám prosím ozvěte na <a href="mailto:hruska.kuba@gmail.com">hruska.kuba@gmail.com</a>,
    my vám rok narození doplňíme a přidáme vás do výsledků.
</p>
