<h2 class="mb-3 mt-5">Sezóna 2025-2026</h2>
<p>
    Brněnská zimní liga je zpět!
    I letošní zima bude plná orientačního běhu! Připravili jsme pro vás 12 zimních akcí, které nabídnou pestrou škálu
    zážitků – od rychlých sprintů, přes štafety
    <a href="{{ url_for('event', season='25-26', event_id='kratky_den') }}">Krátkého dne</a>,
    až po dlouhé zimní běhy zasněženou krajinou v rámci
    <a href="{{ url_for('event', season='25-26', event_id='minirogaining') }}">rogainingu</a>
    nebo předjarního Brna. Čeká vás i drsný
    <a href="{{ url_for('event', season='25-26', event_id='nopb') }}">NOPB</a>
    a další výzvy, které vám pořádně zamotají hlavu!
    Děkujeme za vaši přízeň a těšíme se na vás!
    Také letos nás podpoří Sportega – děkujeme! Můžete se tak těšit na hodnotné ceny.
    Sledujte naše stránky, ať vám nic neunikne.
</p>
