<h2 class="mb-3 mt-5">Sezóna 2024-2025</h2>
<p>
    Pátým (spíše jarním než zimním) závodem skončila letošní Sportega: Brněnská zimní liga.
    Na start se celkově postavilo přes 600 závodníků z oddílů nejen z Brna,
    ale i dalších oddílů napříč republikou. Celkovými vítězi se stali <b>Markéta Kaiser</b> v ženách,
    <b>Martin Bulička</b> v mužích, oba z SK Brno Žabovřesky, v žácích vyhrál
    <b>Ladislav Bárta</b> z Radioklubu Blansko, který opanoval všechny závody.
    <b>Nikolaj Jordanov</b> z Mendelu Brno zvítězil ve veteránské kategorii.
</p>
<p>
    Sláva vítězům a čest poraženým! Výsledky jsou opravdu těsné a
    každé špatné oběhnutí domu mohlo rozhodnout.
    Děkujeme všem závodníkům za účast i všem pořadatelům za odvedenou prácí.
    Těšíme se na vás v dalším roce.
</p>
