<!-- Season 2024-2025 -->
<h2 class="mb-3 mt-5">Omluva za Žabí sprint</h2>
<p>
    Pořadatelům Žabího sprintu se bohužel podařilo vytisknout špatné popisky.
    Za celou Sportega BZL se za tuto nepříjemnost omlouváme. Pro zachování regulérnosti
    bodování ligy jsme se rozhodli vyřadit Žabí sprint z <a
        href="{{ url_for('info', _anchor='pravidla-hodnoceni') }}">celkového hodnocení</a>.
    Přijde nám to jako jediné spravedlivé řešení.
    Přijměte prosím ještě jednou omluvu za námi způsobené problémy.
</p>
