/*
For better looks of the whole page
*/
#name {
    text-align: center;
    margin-top: 3rem;
}

#calendar {
    margin: 2em 1em;
}
@media (min-width: 600px) {
    #calendar {
        margin: 3em 5em;
    }
}

.calendar-row {
    display: flex;
    flex-direction: row;
    gap: 2em;
}

.date {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.first-col {
    flex: 0 0 5em;
}

.description {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.difficulty {
    display: flex;
    flex: 0 0 6em;
}

.difficulty--mobile {
    display: flex;
    max-width: 3em;
    margin: 0.5em auto 0;
}

.difficulty--desktop {
    display: none;
}

@media (min-width: 600px) {
    .difficulty--mobile {
        display: none;
    }

    .difficulty--desktop {
        display: flex;
    }
}

.difficulty-image {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}

.past-event {
    color: lightslategray;
}