/* Handle the short description wrapping */
#description {
    padding-right: 90px; /* Space for the difficulty icon */
    word-wrap: break-word;
    overflow-wrap: break-word;
}

#map {
    max-width: 100%;
    height: 40vh;
    margin-top: 60px;
}

@media (max-width: 768px) {
    #map {
        width: 100%;
    }

    .difficulty-icon {
        width: 40px;
    }

    #description {
        padding-right: 50px; /* Less space needed for smaller icon */
    }
}

#event-detail {
    padding: 2em;
}

#logo {
    max-width: 100%;
    height: auto;
}

.difficulty-icon {
    width: 80px; /* default size for desktop */
}
