#description {
    max-width: 70%;
}

#map {
    width: 70%;
    height: 40vh;
    margin-top: 60px;
}

@media (max-width: 720px) {
    #map {
        width: 100%;
    }
}

#event-detail {
    padding: 2em;
}