body {
    background: linear-gradient(to top, rgb(0, 75, 0), rgb(90, 185, 78));
    min-height: 100vh;
}

h1,
h2 {
    font-weight: bold !important;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
}

a {
    text-decoration: none !important;
}

tr {
    margin-top: 40px;
}

#border {
    background-color: white;
    border-radius: 30px;
    padding-top: 45px;
    padding-inline: 60px;
    margin-top: 70px;
    padding-bottom: 50px;
    margin-inline: auto;
    width: 55vw;
    min-width: 720px;
}

#name {
    text-align: center;
    margin-top: 3rem;
}

#description {
    max-width: 70%;
}

@media (max-width: 500px) {
    #name {
        margin-top: 6rem;
    }
}

#map {
    width: 70%;
    height: 40vh;
    margin-top: 60px;
}

@media (max-width: 720px) {
    #border {
        min-width: 100vw;
        padding: 30px;
    }

    #map {
        width: 100%;
    }
}