/*
For better looks of the whole page
*/

body {
    background-color: rgb(38, 196, 38);
}

h1,
h2 {
    font-weight: bold;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
}

a {
    text-decoration: none;
}

#border {
    background-color: white;
    border: green;
    border-width: 5px;
    border-radius: 30px;
    padding-top: 1px;
    margin-top: 70px;
    margin-inline: auto;
    max-width: 80%;
}

.content {
    margin-top: 20px;
    margin: auto;
    line-height: 1.75;
    width: 80%;
}

@media (min-width: 800px) {
    #border {
        max-width: 90%;
    }
}

/*
About the hidden menu
*/

#hidden-menu {
    transition: transform ease-out 0.25s;
    max-width: 300px;
    background-color: rgb(12, 54, 7);
}

@media (min-width: 350px) {
    #hiddne-menu {
        max-width: 100%;
    }
}

#inmenu-buttons {
    width: 100%;
}

#menu-image {
    margin-top: 15px;
    margin-right: 15px;
}

.secondary {
    background-color: white;
    border-radius: 25vmin;
    height: 60px;
    margin-top: 15px;
    transition: 0.3s;
}

.secondary:hover {
    transform: scale(1.1, 1.1);
    background-color: rgb(175, 175, 175);
}

.menu-link {
    color: black;
    text-decoration: none;
}

.menu-link:hover {
    color: black;
}

/*
About the sandwich button opening the menu
*/
#menu-button-light {
    display: block;
}

#menu-button-dark {
    display: none;
}

#menu-button-light:hover {
    display: none;
}

.menu-button:hover~#menu-button-dark {
    display: block;
}


#button-color {
    position: sticky;
    left: 30px;
    top: 30px;
    background-color: white;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
/*
Dark mode testing (testing meaning: seeing if i like it)



#hidden-menu {
    background-color: rgb(70, 70, 70);
}

.secondary {
    background-color: rgb(50, 50, 50);
}

.secondary:hover {
    background-color: rgb(40, 40, 40);
}

*/