/*
For better looks of the whole page
*/

body {
    background: linear-gradient(to top, rgb(0, 75, 0), rgb(60, 200, 40));
}

h1,
h2 {
    font-weight: bold;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
}

a {
    text-decoration: none;
}

#border {
    background-color: white;
    border-radius: 30px 30px 0px 0px;
    padding-top: 15px;
    margin-top: 70px;
    padding-bottom: 50px;
    margin-inline: auto;
    width: 55vw;
}

.runner-image {
    width: 8vw;
    min-width: 100px;
    height: auto;
    z-index: -1;
    margin-left: 0;
    margin-right: 0;
}

.content {
    margin-top: 20px;
    margin: auto;
    line-height: 1.75;
    width: 80%;
}

/*
About the hidden menu
*/

#hidden-menu {
    transition: transform ease-out 0.25s;
    max-width: 300px;
    background: linear-gradient(to bottom, rgb(30, 100, 20), rgb(6, 25, 4));
}

#menu-image {
    margin-top: 15px;
    margin-right: 15px;
}

.inmenu-button {
    background-color: white;
    border-radius: 25vmin;
    height: 60px;
    margin-top: 15px;
    transition: 0.3s;
    display: flex;
    align-items: center;
}

.inmenu-button:hover {
    transform: scale(1.1, 1.1);
    background-color: rgb(175, 175, 175);
}

.menu-link {
    color: black;
    text-decoration: none;
}

.menu-link:hover {
    color: black;
}

/*
About the sandwich button opening the menu
*/

#menu-button-light {
    display: block;
}

#menu-button-dark {
    display: none;
}

#menu-button-light:hover {
    display: none;
}

.menu-button:hover~#menu-button-dark {
    display: block;
}

#open-menu-button {
    position: sticky;
    left: 30px;
    top: 30px;
    background-color: white;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}