{% extends 'layout.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style/calendarStyle.css') }}">
{% endblock %}

{% block body %}

<h1 id="name">
    Kalendář na sezónu {{season}}
</h1>

<div id="border">

    <div id="calendar">

        {% for event_id, event in events.items() %}

        <div style="display: flex">

            <div id="date">
                <div>{{event['date']}}</div>
            </div>

            <div id="description">
                <div>
                    <a href="{{url_for('event', season=season, event_id=event_id)}}">
                        <h3>{{event['name']}}</h3>
                    </a>
                </div>
                <div>{{event['description']}}</div>
            </div>

            <div id="difficulty">
                {% if event['difficulty'] == "easy" %}
                    <img src="{{ url_for('static', filename='images/easy.png') }}" class="difficutly-image">
                {% elif event['difficulty'] == "hard" %}
                    <img src="{{ url_for('static', filename='images/hard.png') }}" class="difficutly-image">
                {% else %}
                    <img src="{{ url_for('static', filename='images/medium.png') }}" class="difficutly-image">
                {% endif %}

            </div>

        </div>
        <hr />
        {% endfor %}
    </div>
</div>

{% endblock %}