{% extends 'layout.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style/calendarStyle.css') }}">
{% endblock %}

{% block body %}

<h1 class="page-header">
    Kalendář na sezónu {{season}}
</h1>

<div id="border">

    <div id="calendar">

        {% for event_id, event in events.items() %}

        <div class="calendar-row">
            <!-- Date and dificulty (on mobile) -->
            <div class="first-col">
                <div class="date">
                    <div>
                        <h2 class="{{'past-event' if event['is_past']}}" style="margin-bottom: 0">
                            {{event['date'] | day_from_date}}
                        </h2>
                    </div>
                    <div>{{event['date'] | month_and_year_from_date | upper}}</div>
                </div>
                <div class="difficulty difficulty--mobile">
                    {% if event['difficulty'] == "easy" %}
                    <img src="{{ url_for('static', filename='images/easy.png') }}" class="difficulty-image">
                    {% elif event['difficulty'] == "hard" %}
                    <img src="{{ url_for('static', filename='images/hard.png') }}" class="difficulty-image">
                    {% else %}
                    <img src="{{ url_for('static', filename='images/medium.png') }}" class="difficulty-image">
                    {% endif %}
                </div>
            </div>
            
            <!-- Name and short description -->
            <div class="description">
                <div>
                    <a href="{{url_for('event', season=season, event_id=event_id)}}">
                        <h3 class="{{'past-event' if event['is_past']}}">
                            {% if event['is_bzl'] %}
                            {{event['bzl_order']}}.  
                            {% endif %}
                            {{event['name']}}
                        </h3>
                    </a>
                </div>
                <div>{{event['desc_short']}}</div>
            </div>
            
            <!-- Difficulty (on desktop) -->
            <div class="difficulty difficulty--desktop">
                {% if event['difficulty'] == "easy" %}
                    <img src="{{ url_for('static', filename='images/easy.png') }}" class="difficulty-image">
                {% elif event['difficulty'] == "hard" %}
                    <img src="{{ url_for('static', filename='images/hard.png') }}" class="difficulty-image">
                {% else %}
                    <img src="{{ url_for('static', filename='images/medium.png') }}" class="difficulty-image">
                {% endif %}
            </div>

        </div>
        <hr />
        {% endfor %}
    </div>
</div>

{% endblock %}