{% extends 'layout.html' %}

{% block head %}
<title>{{ event_data.name }}</title>
<!-- Load Mapy.cz API -->
<script src="https://api.mapy.cz/loader.js"></script>
<script>Loader.load()</script>
<!-- Custom CSS for event page -->
<link rel="stylesheet" href="/static/style/eventStyle.css">
{% endblock %}

{% block body %}

<!-- Event Name -->
<h1 class="page-header text-center">
    {% if event_data['bzl_order'] %}
    {{event_data['bzl_order']}}. {{event_data['name']}}
    {% else %}
    {{event_data['name']}}
    {% endif %}
</h1>

<div class="position-relative" id="border">
    <div id="event-detail">

        <!-- Difficulty Icon -->
        {% if event_data['difficulty'] == 'easy' %}
        <img src="/static/images/easy.png" class="position-absolute end-0 top-0 mt-3 me-4 difficulty-icon"
            alt="difficulty_easy">
        {% elif event_data['difficulty'] == 'medium' %}
        <img src="/static/images/medium.png" class="position-absolute end-0 top-0 mt-3 me-4 difficulty-icon"
            alt="difficulty_medium">
        {% elif event_data['difficulty'] == 'hard' %}
        <img src="/static/images/hard.png" class="position-absolute end-0 top-0 mt-3 me-4 difficulty-icon"
            alt="difficulty_hard">
        {% endif %}

        <!-- Short Description -->
        {% if event_data['desc_short'] %}
        <h2 id="description">
            {{event_data['desc_short']}}
        </h2>
        {% endif %}

        <!-- Table with basic info -->
        <table class="table mt-4">
            <!-- Date -->
            <tr>
                <td>Datum:</td>
                <td>{{event_data['date'] | czech_date_from_date }}</td>
            </tr>

            <!-- Organizer -->
            {% if event_data['organizer'] and event_data['organizer_logo_large'] %}
            <tr>
                <td>Pořadatel:</td>
                <td>
                    <img src="/static/images/logos/{{event_data['organizer_logo_large']}}" alt="organizer logo"
                        class="me-2" style="height: 30px;">
                    {{event_data['organizer']}}
                </td>
            </tr>
            {% elif event_data['organizer'] and event_data['organizer_logo'] %}
            <tr>
                <td>Pořadatel:</td>
                <td>
                    <img src="/static/images/logos/{{event_data['organizer_logo']}}" alt="organizer logo" class="me-2"
                        style="height: 30px;">
                    {{event_data['organizer']}}
                </td>
            </tr>
            {% elif event_data['organizer'] %}
            <tr>
                <td>Pořadatel:</td>
                <td>{{event_data['organizer']}}</td>
            </tr>
            {% endif %}

            <!-- Entry Date -->
            {% if event_data['entry_date'] %}
            <tr>
                <td>Přihlášky do:</td>
                <td>{{event_data['entry_date'] | czech_date_from_datetime }}</td>
            </tr>
            {% endif %}

            <!-- Web -->
            {% if event_data['web'] %}
            <tr>
                <td>Web:</td>
                <td>
                    <a href="{{ event_data['web'] }}">
                        {% if event_data['web'] %}
                        {{event_data['web']}}
                        {% elif event_data['oris_id'] %}
                        ORIS
                        {% endif %}
                    </a>
                </td>
            </tr>
            {% endif %}
            <!-- Place -->
            {% if event_data['place_desc'] %}
            <tr>
                <td>Místo:</td>
                <td>{{event_data['place_desc']}}</td>
            </tr>
            {% endif %}
        </table>

        <!-- Long description if present -->
        {% if event_data['desc_long'] %}
        <div id="description">
            {{event_data['desc_long']}}
        </div>
        {% endif %}

        <!-- Images if present -->
        {% if event_data['images'] %}
        <div class="text-center my-4">
            {% for image in event_data['images'] %}
            <img src="/static/images/{{image}}" alt="logo" class="mx-2" style="max-height: 100px;">
            {% endfor %}
        </div>
        {% endif %}

        <!-- Video if present -->
        {% if event_data['video_yt_id'] %}
        <div class="text-center my-4">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/{{event_data['video_yt_id']}}"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
            </iframe>
        </div>
        {% endif %}

        <!-- Map -->
        {% if event_data['gps_lat'] and event_data['gps_lon'] %}
        <div id="map"></div>
        <script type="text/javascript">
            // Initialize map
            var center = SMap.Coords.fromWGS84("{{event_data['gps_lon']}}", "{{event_data['gps_lat']}}");
            var map = new SMap(JAK.gel("map"), center, 14);
            map.addDefaultLayer(SMap.DEF_BASE).enable();
            map.addDefaultControls();

            // Add marker layer
            var layer = new SMap.Layer.Marker();
            map.addLayer(layer);
            layer.enable();

            // Create info card
            var card = new SMap.Card();
            card.getHeader().innerHTML = "<strong>{{event_data['name']}} - centrum</strong>";
            card.getBody().innerHTML = "{{event_data['place_desc']}}";

            // Add marker with info card
            var marker = new SMap.Marker(center, "myMarker");
            marker.decorate(SMap.Marker.Feature.Card, card);
            layer.addMarker(marker);
        </script>
    </div>
</div>
{% endif %}
{% endblock %}
