{% extends 'layout.html' %}
{% import '_macros.html' as m %}

{% set has_map = event_data['gps_lat'] and event_data['gps_lon'] %}

{% block title %}{{ event_data['name'] }} - {{ site.short_title }}{% endblock %}

{% block head %}
{% if has_map and mapy_api_key %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="">
{% endif %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/page-event.css') }}">
{% endblock %}

{% block page_title %}
{%- if event_data['bzl_order'] -%}
{{ event_data['bzl_order'] }}. {{ event_data['name'] }}
{%- else -%}
{{ event_data['name'] }}
{%- endif -%}
{% endblock %}

{% block body %}

<div class="position-relative">
    <div id="event-detail">

        {% set difficulty_label = {'easy': 'Lehká trať', 'medium': 'Středně těžká trať', 'hard': 'Těžká trať'} %}
        {% set level = event_data['difficulty'] if event_data['difficulty'] in difficulty_label else 'medium' %}

        <div class="event-top">
            {% if event_data['desc_short'] %}
            <p class="event-lead">{{ event_data['desc_short'] }}</p>
            {% endif %}
            {{ m.difficulty(level, difficulty_label) }}
        </div>

        <!-- Table with basic info -->
        <table class="event-facts">
            <!-- Date -->
            {% if event_data['date'] %}
            <tr>
                <th scope="row">Datum:</th>
                <td>{{ event_data['date'] | czech_date_from_date }}</td>
            </tr>
            {% endif %}

            <!-- Organizer -->
            {% if event_data['organizer'] %}
            {% set organizer_logo = event_data['organizer_logo_large'] or event_data['organizer_logo'] %}
            <tr>
                <th scope="row">Pořadatel:</th>
                <td>
                    {% if organizer_logo %}
                    <img src="{{ url_for('static', filename='images/logos/' + organizer_logo) }}" alt="">
                    {% endif %}
                    {{ event_data['organizer'] }}
                </td>
            </tr>
            {% endif %}

            <!-- Entry Date -->
            {% if event_data['entry_date'] %}
            <tr>
                <th scope="row">Přihlášky do:</th>
                <td>{{ event_data['entry_date'] | czech_date_from_datetime }}</td>
            </tr>
            {% endif %}

            <!-- Web -->
            {% if event_data['web'] %}
            <tr>
                <th scope="row">Web:</th>
                <td>
                    <a href="{{ event_data['web'] }}" target="_blank" rel="noopener">{{ event_data['web'] }}</a>
                </td>
            </tr>
            {% endif %}

            <!-- Place -->
            {% if event_data['place_desc'] %}
            <tr>
                <th scope="row">Místo:</th>
                <td>{{ event_data['place_desc'] }}</td>
            </tr>
            {% endif %}
        </table>

        {% if race_stats %}
        <section class="event-podium">
            <h2>Výsledky závodu <span class="event-podium-count">{{ race_stats.participants | racer_count }}</span>
            </h2>
            {{ m.podium(race_stats) }}
        </section>
        {% endif %}

        <!-- Long description if present -->
        {% if event_data['desc_long'] %}
        <div class="event-description">
            {% for paragraph in event_data['desc_long'] %}
            <p>{{ paragraph }}</p>
            {% endfor %}
        </div>
        {% endif %}

        <!-- Images if present -->
        {% if event_data['images'] %}
        <div class="text-center my-4">
            {% for image in event_data['images'] %}
            <img src="{{ url_for('static', filename='images/' + image) }}" alt="" class="mx-2"
                style="max-height: 100px;">
            {% endfor %}
        </div>
        {% endif %}

        <!-- Video if present -->
        {% if event_data['video_yt_id'] %}
        <div class="text-center my-4 video-wrapper">
            <iframe src="https://www.youtube.com/embed/{{ event_data['video_yt_id'] }}"
                title="Video ze závodu {{ event_data['name'] }}" frameborder="0" loading="lazy"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
            </iframe>
        </div>
        {% endif %}

        <!-- Map of the event centre -->
        {% if has_map %}
        {% if mapy_api_key %}
        <div id="map" data-lat="{{ event_data['gps_lat'] }}" data-lon="{{ event_data['gps_lon'] }}"
            data-title="{{ event_data['name'] }} - centrum" data-place="{{ event_data['place_desc'] or '' }}"
            data-apikey="{{ mapy_api_key }}"></div>
        {% else %}
        <p class="map-fallback">
            <a href="https://mapy.com/zakladni?x={{ event_data['gps_lon'] }}&amp;y={{ event_data['gps_lat'] }}&amp;z=15&amp;source=coor&amp;id={{ event_data['gps_lon'] }},{{ event_data['gps_lat'] }}"
                target="_blank" rel="noopener">Zobrazit centrum závodu na Mapy.com</a>
        </p>
        {% endif %}
        {% endif %}

    </div>
</div>
{% endblock %}

{% block scripts %}
{% if has_map and mapy_api_key %}
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
<script src="{{ url_for('static', filename='js/event-map.js') }}"></script>
{% endif %}
{% endblock %}
