{% extends 'layout.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style/homeStyle.css') }}">
{% endblock %}

{% block body %}
<div id="border">
    <h2 class="mb-3 mt-5">Sezóna 2023-2024</h2>
    <p>
        Podzim již jede naplno a s ním i přípravy pořadatelů na další sezónu
        Brněnské zimní ligy (BZL). Zástupci řady brněnských oddílů pro vás jako
        každý rok i letos chystají množství závodů. Ať už potřebujete zpestřit
        dlouhou zimní přípravu rychlým závodem na mapě, chcete si na čerstvém vzduchu
        jen trochu protáhnout nohy po dlouhém pracovním týdnu,
        či vůbec poprvé vyzkoušet orientační běh, budete mít určitě z čeho vybírat.<br>
        Stejně jako loni i tentokrát naleznete v kalendáři jak závody počítané
        do celkového pořadí BZL (individuální, kategorie D, H, ZV a HDD), tak i
        jiné zajímavosti, které v Brně během zimy orienťácká komunita pořádá
        (štafety, závod na staré mapě, parkový noční závod bez čelovek, apod.).<br>
        Těšíme se na vás!
    </p>
    <h2 class="mb-3 mt-5">Co je to BZL?</h2>
    <p>
        Brněnská zimní liga (BZL) je společný projekt brněnských oddílů orientačního běhu pod záštitou SK Brno Žabovřesky.
        Částečně je zaměřen na zimní tréninkovou přípravu již stávajících závodníků, nedílnou součástí je však
        i popularizace orientačního běhu a všeobecný rozvoj sportu v Brně. Je určený pro všechny bez omezení věku,
        fyzické výkonnosti či mapových schopností.<br>
        Součástí BZL jsou závody konané v městských lokalitách Brna a Blanska - například sídliště, lesoparky a
        parky.
        Orientace v tomto prostředí není tak náročná jako v lese, a proto je vhodná i pro účastníky bez zkušeností s
        orientačním během. Více o orientačním běhu se můžete dozvědět na webu
        <a href="https://zacitorientak.cz/brno/co-to-je/190" target="_blank">zacitorientak.cz</a>
        , či můžete zhlédnout krátké video zde:
        <a href="https://youtu.be/D767m2DVVkc" target="_blank">Orientační běh - zelený sport</a>
    </p>
    <h2 class="mb-3 mt-5">Kategorie</h2>
    <p>
        Na každý závod je nutné si vybrat správnou kategorii. U většiny závodů jsou kategorie následující. Muži
        běhají
        kategorii H. Ženy bojují v kategorii D. Děti do 10 let mohou absolvovat svoji trať HDD v doprovodu rodičů.
        Žáci
        ročníku {{ kid_year }} a mladší se hlásí do kategorie ZV, do této kategorie patří také veteráni
        ({{ vet_year }} a starší). Pokud si jdete vyzkoušel orientační běh úplně poprvé a nevěříte si zatím na
        kategorie D a H, je kategorie ZV i pro vás. Nebudete však započítáni do celkových výsledků,
        pokud nesplňujete věkový limit.
    </p>
    <h2 class="mb-3 mt-5">Startovné</h2>
    <p>
        Startovné v termínu pomocí internetové přihlášky stojí 100 Kč, v případě dohlášení až na místě závodu je
        startovné
        zvýšeno na 200 Kč. Pokud nemáte vlastní elektronický SI čip, bez kterého nelze závod absolvovat, lze si jej
        zapůjčit na
        prezentaci. Před cestou na start je nutné dostavit se na prezentaci v centru závodu a zaplatit startovné.
    </p>
    <h2 class="mb-3 mt-5">Přihlášky</h2>
    <p>
        Pokud není určeno pořadetelem konkrétního závodu jinak, je pro přihlašování použit informační systém
        orientačního
        běhu - <a href="https://oris.orientacnisporty.cz" target="_blank">ORIS</a>. Členy registrovaných klubů
        prosíme,
        aby i tak platili startovné na místě každý zvlášť. Pokud nejste
        členem žádného orientačního klubu, můžete využít jednorázové přihlášky po rozkliknutí závodu v systému ORIS.
        Přihlášky probíhají na každý závod zvlášť, termíny přihlášek a odkaz na přihlášení naleznete po rozkliknutí
        konkrétního závodu ze seznamu v záložce kalendář. Pokud Vás BZL zaujala, v ORISu vždy najdete aktuální seznam
        všech OB závodů na
        celý rok.
    </p>
</div>
{% endblock %}
