{% extends 'layout.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style/homeStyle.css') }}">
{% endblock %}

{% block body %}
<h1 class="page-header">Brněnská zimní liga</h1>
<div id="border">
    <h2 class="content mb-3 mt-5">Sezóna 2022-2023</h2>
    <p class="content">
        Letošní sezónu Brněnské zimní ligy máme úspěšně za sebou. Děkujeme všem za účast,
        bylo vás téměř 600*.
        Doufáme, že se jste si závody užili a stejně jako my se už nemůžete dočkat, až
        se naplno rozjede kolotoč oficiálních závodů. První
        <a href="https://oris.orientacnisporty.cz/Zavod?id=7586" target="_blank">oblastní žebříček</a>
        proběhne 1. 4. v Březině. Zároveň zde vyhlásíme celkové výsledky letošního ročníku BZL,
        do kterých se započítávají 3 nejlepší závody z 5.<br><br>
        *) Téměř 600 různých závodníků se účastnilo alespoň jednoho z 5 závodů
        počítaných do celkových výsledků Ligy. Spolu s ostatními závody to bude ještě více!
    </p>
    <h2 class="content mb-3 mt-5">Co je to BZL?</h2>
    <p class="content">
        Brněnská zimní liga je společný projekt brněnských oddílů orientačního běhu pod záštitou SK Brno Žabovřesky.
        Částečně je zaměřen na zimní tréninkovou přípravu již stávajících závodníků, nedílnou součástí je však
        i popularizace orientačního běhu a všeobecný rozvoj sportu v Brně. Je určený pro všechny bez omezení věku,
        fyzické výkonnosti či mapových schopností.<br>
        Součástí BZL jsou závody konané v městských lokalitách Brna a Blanska - například sídliště, lesoparky a
        parky.
        Orientace v tomto prostředí není tak náročná jako v lese, a proto je vhodná i pro účastníky bez zkušeností s
        orientačním během. Více o orientačním běhu se můžete dozvědět na webu
        <a href="https://zacitorientak.cz/brno/co-to-je/190" target="_blank">zacitorientak.cz</a>
        , či můžete zhlédnout krátké video zde:
        <a href="https://youtu.be/D767m2DVVkc" target="_blank">Orientační běh - zelený sport</a>
    </p>
    <h2 class="content mb-3 mt-3">Kategorie</h2>
    <p class="content">
        Na každý závod je nutné si vybrat správnou kategorii. U většiny závodů jsou kategorie následující. Muži
        běhají
        kategorii H. Ženy bojují v kategorii D. Děti do 10 let mohou absolvovat svoji trať HDD v doprovodu rodičů.
        Žáci
        ročníku {{ kid_year }} a mladší se hlásí do kategorie ZV, do této kategorie patří také veteráni
        ({{ vet_year }} a starší).
    </p>
    <h2 class="content mb-3 mt-3">Startovné</h2>
    <p class="content">
        Startovné v termínu pomocí internetové přihlášky stojí 80 Kč, v případě dohlášení až na místě závodu je
        startovné
        zvýšeno na 100 Kč. Pokud nemáte vlastní elektronický SI čip, bez kterého nelze závod absolvovat, lze si jej
        zapůjčit na
        prezentaci. Před cestou na start je nutné dostavit se na prezentaci v centru závodu a zaplatit startovné.
    </p>
    <h2 class="content mb-3 mt-3">Přihlášky</h2>
    <p class="content">
        Pokud není určeno pořadetelem konkrétního závodu jinak, je pro přihlašování použit informační systém
        orientačního
        běhu - <a href="https://oris.orientacnisporty.cz" target="_blank">ORIS</a>. Členy registrovaných klubů
        prosíme,
        aby i tak platili startovné na místě každý zvlášť. Pokud nejste
        členem žádného orientačního klubu, můžete využít jednorázové přihlášky po rozkliknutí závodu v systému ORIS.
        Přihlášky probíhají na každý závod zvlášť, termíny přihlášek a odkaz na přihlášení naleznete po rozkliknutí
        konkrétního závodu ze seznamu v záložce kalendář. Pokud Vás BZL zaujala, v ORISu vždy najdete aktuální seznam
        všech OB závodů na
        celý rok.
    </p>
</div>
{% endblock %}
