{% extends 'layout.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/infoStyle.css') }}">
{% endblock %}

{% block body %}
<div id="border">
    <h2 class="mb-3 mt-5">Co je to BZL?</h2>
    <p>
        Sportega Brněnská zimní liga (BZL) je společný projekt brněnských oddílů orientačního běhu pod záštitou SK Brno
        Žabovřesky.
        Částečně je zaměřen na zimní tréninkovou přípravu již stávajících závodníků, nedílnou součástí je však
        i popularizace orientačního běhu a všeobecný rozvoj sportu v Brně. Je určený pro všechny bez omezení věku,
        fyzické výkonnosti či mapových schopností.<br>
        Součástí BZL jsou závody konané v městských lokalitách Brna a Blanska - například sídliště, lesoparky a
        parky.
        Orientace v tomto prostředí není tak náročná jako v lese, a proto je vhodná i pro účastníky bez zkušeností s
        orientačním během. Více o orientačním běhu se můžete dozvědět na webu
        <a href="https://zacitorientak.cz/brno/co-to-je/190" target="_blank">zacitorientak.cz</a>
        , či můžete zhlédnout krátké video zde:
        <a href="https://youtu.be/D767m2DVVkc" target="_blank">Orientační běh - zelený sport</a>

    </p>

    <h2 class="mb-3 mt-5" id="kategorie">Kategorie</h2>
    <p>
        Na každý závod je nutné si vybrat správnou kategorii. Pokud je závod zařazen do BZL, jsou kategorie následující:
        Muži běhají kategorii H; ženy bojují v kategorii D; děti do 10 let - ročník {{ hdd_max_year }} a mladší - mohou
        absolvovat svoji trať HDD v doprovodu rodičů; Žáci ročníku {{ zv_kid_year }} a mladší se hlásí do kategorie ZV,
        do
        této kategorie patří také veteráni ({{ zv_vet_year }} a starší). Pokud si jdete vyzkoušel orientační běh úplně
        poprvé a nevěříte si zatím na kategorie D a H, je kategorie ZV i pro vás. Stejně tak i starší děti mohou
        stále absolvovat kategorii HDD. V obou případech, kdy nesplňujete věkový limit, však poběžíte mimo soutěž a
        nebudete započítáni výsledků. U závodů, které nejsou zařazené do BZL, se kategorie mohou lišit.
    </p>
    <table>
        <thead>
            <tr>
                <th style="min-width: 7em;">Kategorie</th>
                <th>Ročník</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>HDD</td>
                <td>{{ hdd_max_year }} a mladší</td>
            </tr>
            <tr>
                <td>ZV (žáci)</td>
                <td>{{ zv_kid_year }} - {{ hdd_max_year - 1 }}</td>
            </tr>
            <tr>
                <td>ZV (veteráni)</td>
                <td>{{ zv_vet_year }} a starší</td>
            </tr>
            <tr>
                <td>H, D</td>
                <td>bez omezení</td>
            </tr>
        </tbody>
    </table>
    </br>
    <p>Mimo soutěž je možno absolvovat i jinou kategorii, pro začátečníky doporučujeme kategorii ZV.</p>

    <h2 class="mb-3 mt-5">Startovné</h2>
    <p>
        Startovné v termínu pomocí internetové přihlášky u většiny závodů stojí 100 Kč, v případě dohlášení až na místě
        závodu je startovné zvýšeno na 200 Kč (navýšení neplatí pro kategorii HDD). Pokud nemáte vlastní elektronický SI
        čip, bez kterého nelze závod absolvovat, lze si jej zapůjčit na prezentaci (20 Kč). Před cestou na start je
        nutné dostavit se na prezentaci v centru závodu a zaplatit startovné. </br>
        Uvedené ceny jsou pouze orientační, sledujte prosím pokyny jednotlivých pořadatelů.
    </p>

    <h2 class="mb-3 mt-5">Přihlášky</h2>
    <p>
        Pokud není určeno pořadetelem konkrétního závodu jinak, je pro přihlašování použit informační systém
        orientačního
        běhu - <a href="https://oris.orientacnisporty.cz" target="_blank">ORIS</a>. Pokud nejste
        členem žádného orientačního klubu, můžete využít jednorázové přihlášky po rozkliknutí závodu v systému ORIS (<a
            href="https://oris.orientacnisporty.cz/files/help/Jednorazove-prihlasky-ucastnik.pdf">návod</a>).
        Přihlášky probíhají na každý závod zvlášť, termíny přihlášek a odkaz na přihlášení naleznete po rozkliknutí
        konkrétního závodu ze seznamu v záložce kalendář. Pokud Vás BZL zaujala, v ORISu vždy najdete aktuální seznam
        všech OB závodů na celý rok.
    </p>
</div>
{% endblock %}
