{% extends 'layout.html' %}

{% block page_title %}Novinky{% endblock %}

{% block body %}
<div class="news-list">
  {% for news_item in news %}
  <article class="news-item" id="{{ news_item.created_at.isoformat() }}">
    {% if news_item.title %}
    <h2>{{ news_item.title }}</h2>
    {% endif %}
    <time class="news-date" datetime="{{ news_item.created_at.isoformat() }}">
      {{ news_item.created_at.strftime('%d.%m.%Y') }}
    </time>
    <div class="news-content">
      {{ news_item.get_rendered_content() | safe }}
    </div>
  </article>
  {% endfor %}
</div>
{% endblock %}
